RULES

- The dealer must hit on a soft 17 or lower and must stay on a hard 17 or higher.
- No surrender
- No insurance

Splitting:
- Only one aces split is allowed. Upon splitting aces, only one hit is allowed per hand. 
- No doubling down on a split.
- Splits on face cards must be matching faces.
